.login-container {
  padding-top: 7rem;
  min-height: 80vh;    
}

.login-cred-small {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
}

/* login styles */
.login-section {
  margin: 0 auto;
  /* border: 1px solid pink; */
}

.login-main-container {
  width: 40%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.frequent-btn {
  background-color: #3772ff;
  padding: 0.625rem 2rem;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}


@media only screen and (max-width: 992px) {
  .login-main-container {
      width: 60%;
  }
}

@media only screen and (max-width: 760px) {
  .login-main-container {
      width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .login-main-container {
      width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .login-main-container {
      width: 100%;
  }
}