.add-products {
  padding-top: 50px;
}
.uploaded-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  img {
    border-radius: 10px;
  }
}

.addproduct-inputs {
  margin-bottom: 20px;
}

.add-products-form {
  width: 100%;
}

@media screen and  (max-width:991px) and (min-width: 768px) {
  .add-products-form {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .add-products-form {
    width: 50%;
  }
}